{% extends "base.html" %}

{% block head %}{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
        <h1>BCCNav <small>One stop data shop!</small></h1>

        <div style="margin: 0 auto; display: block;">
            <img src="/static/img/BCCNav3.png">
        </div>

        <p class="lead">
            Created over a weekend for GovHack 2015 BCCNac aims to be a central source of public utilities in Brisbane.
        </p>

        <h2>The Team</h2>
        <div class="row">
            <div class="col-md-4">Thomas Cranny</div>
            <div class="col-md-4">John Kent</div>
            <div class="col-md-4">Craig Winter</div>
        </div>
    </div>
{% endblock %}