{% extends "base.html" %}

{% block head %}
    <script type="application/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC18jAmPoi8tKoGyeqKRWvzxCAKZjnTz6k"></script>

    <script type="application/javascript" src="/static/js/bikerackdata.js"></script>
    <script type="application/javascript" src="/static/js/boatrampsdata.js"></script>
    <script type="application/javascript" src="/static/js/busstopdata.js"></script>
    <script type="application/javascript" src="/static/js/clinicsdata.js"></script>
    <script type="application/javascript" src="/static/js/dogdata.js"></script>
    <script type="application/javascript" src="/static/js/ferriesdata.js"></script>
    <script type="application/javascript" src="/static/js/fountainsdata.js"></script>
    <script type="application/javascript" src="/static/js/librariesdata.js"></script>
    <script type="application/javascript" src="/static/js/poolsdata.js"></script>
    <script type="application/javascript" src="/static/js/skatedata.js"></script>
    <script type="application/javascript" src="/static/js/tennisdata.js"></script>
    <script type="application/javascript" src="/static/js/toiletsdata.js"></script>
    <script type="application/javascript" src="/static/js/wifidata.js"></script>

{% endblock %}

{% block body %}

    <div ng-app="BCCNavApp" ng-controller="BCCNavCtrl">
        <!-- Static navbar -->
        <div id="utility-box">
            <h2>Brisbane Utilities</h2>
            <ul>
                <li ng-repeat="utility in utilities">
                    <input type="checkbox" ng-model="utility.display" ng-click="toggleUtility(utility)">
                    <span>{[utility.title]} ( {[utility.markers.length]} )</span>
                </li>
            </ul>
        </div>
    </div>
    <div id="map-canvas"></div>

    <script type="application/javascript" src="/static/app/map_initial.js"></script>
    <script type="application/javascript" src="/static/js/nav.js"></script>

    <script type="application/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script type="application/javascript" src="/static/app/app.js"></script>
{% endblock %}