@import "settings";
@import "nav_color";


html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: static;
  
  background: url("/static/img/cream_dust_bg.png");
}

#map-canvas { height: 100%; margin: 0; padding: 0;}


.navbar {
  margin-bottom: 0;
  border: 1px solid transparent;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
}

#utility-box {
  position: absolute;
  top: 85px;
  right: 5px;
  //width: 300px;
  z-index: 10;

  //border: 1px solid $bcc-color-active;
  box-shadow: 1px 1px 5px #666666;
  background-color: #ffffff;
  padding: 0 15px;

  font-variant: small-caps;

  h1 {
    padding-top: 0;
  }

  ul {
    padding-left: 0;

    li {
      &:first-child {
        border-top: 1px solid #AAAAAA;
      }
      list-style: none;
      padding: 10px;
      border-bottom: 1px solid #AAAAAA;
    }
  }

}